<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd ">
 	
 	
 	<!-- http://websystique.com/spring-security/spring-security-4-hello-world-annotation-xml-example/ -->
 	
 	<!-- https://www.mkyong.com/spring-security/spring-security-form-login-example/ -->
 	
<!-- 	<sec:http auto-config="true">
		<sec:intercept-url pattern="/admin**" access="ROLE_USER" />
		<sec:form-login
		    login-page="/login"
		    default-target-url="/welcome"
			authentication-failure-url="/login?error"
			login-processing-url="/j_spring_security_check"
			username-parameter="username"
			password-parameter="password" />
		<sec:logout logout-success-url="/login?logout" />
		enable csrf protection
		<sec:csrf/>
	</sec:http>
	
	<sec:authentication-manager>
    <sec:authentication-provider>
      <sec:user-service>
        <sec:user name="jimi" password="jimispassword" authorities="ROLE_USER, ROLE_ADMIN" />
        <sec:user name="bob" password="bobspassword" authorities="ROLE_USER" />
      </sec:user-service>
    </sec:authentication-provider>
  </sec:authentication-manager>
	<sec:user-service>
		<sec:user name="user" password="password" authorities="ROLE_USER" />
	</sec:user-service> -->

<!-- 	<sec:http>
		<sec:intercept-url pattern="/login.jsp*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
		<sec:intercept-url pattern="/**" access="ROLE_USER" /> 
		<sec:form-login/>
		<sec:logout />
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="jimi" password="0000" authorities="ROLE_USER, ROLE_ADMIN" />
				<sec:user name="bob" password="0000" authorities="ROLE_USER" />
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager> -->

    <sec:http auto-config="true" >
        <sec:intercept-url pattern="/" access="hasRole('USER')" />
        <sec:intercept-url pattern="/home" access="permitAll" />
        <sec:intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <sec:intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />
        <sec:form-login login-page="/login"  authentication-failure-url="/Access_Denied" />
    </sec:http>
  
    <sec:authentication-manager >
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="user"  password="0000"  authorities="ROLE_USER" />
                <sec:user name="admin" password="0000" authorities="ROLE_ADMIN" />
                <sec:user name="dba"   password="0000" authorities="ROLE_ADMIN,ROLE_DBA" />
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>
 	
 	
</beans>