<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd ">
 
 	<context:property-placeholder location="file:${PROJECT_HOME}/conf/server-config.properties"/>
 
    <import resource="file:${PROJECT_HOME}/conf/spring-mvc.xml" />
  	<import resource="file:${PROJECT_HOME}/conf/spring-service.xml" />
 	<import resource="file:${PROJECT_HOME}/conf/spring-datasource.xml" />
 
</beans>